
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,800");

#zoopdog-userscript-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2147483646;
  visibility: hidden;
  box-sizing: border-box;
  margin-top: 4px;
  padding: 6px 12px;
  min-width: 160px;
  max-width: 400px;
  max-height: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  background: #F2ECE1;
  border: none;
  border-radius: 8px;
  box-shadow: 4px 4px 19px -2px rgba(0, 0, 0, 0.47);
  color: #000;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  line-height: normal;
  touch-action: pan-x pan-y;
}

#zoopdog-userscript-popup * {
  box-sizing: border-box;
}

#zoopdog-userscript-popup-lock-icon {
  position: absolute;
  right: 8px;
  top: 6px;
  z-index: 2147483647;
  font-size: 12pt;
  line-height: 1;
  visibility: hidden;
  cursor: move;
  user-select: none;
}

#zoopdog-userscript-popup-body {
  white-space: normal;
}

#zoopdog-userscript-popup-body h1 {
  color: #5BB1B7;
  margin: 2px 0 2px;
  white-space: nowrap;
  font-weight: 800;
  font-size: 14pt;
  line-height: 1.2;
}

#zoopdog-userscript-popup-body ul {
  font-weight: 300;
  font-size: 10pt;
  margin: 0;
  padding: 2px 0 0 16px;
  line-height: 1.35em;
  min-width: 140px;
  max-width: 380px;
}

#zoopdog-userscript-popup-body ul li {
  margin: 2px 0;
  padding: 0;
}

#zoopdog-userscript-popup-body ul li .zoopdog-pos {
  background: #B6638F;
  color: #fff;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 5px;
}

#zoopdog-userscript-popup-body ul li.zoopdog-cjk-def {
  font-size: 11pt;
  line-height: 1.4;
  word-break: keep-all;
}

#zoopdog-userscript-popup-body .zd-definition:not(:last-child) ul {
  border-bottom: 1px solid #5BB1B7;
  padding-bottom: 6px !important;
  margin-bottom: 6px !important;
}
